* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background:
        linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)),
        url("../resources/images.jpeg") center/cover no-repeat;

}

.firstpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    font-size: 72px;
    font-weight: bold;
    color: #2E7D32; /* strong medical green */
    margin-bottom: 20px;
    animation: fadeIn 1s ease;
}

.tagline {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    max-width: 800px;
    line-height: 1.6;
    color: #1F2933; /* dark charcoal */
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    margin-top: 40px;
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    background-color: #2E7D32;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.2);
}

.btn.stuck {
    position: fixed;
    top: 20px;
    right: 20px;
    margin-top: 0;
    transform: scale(1);
    z-index: 1000;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;;
    text-decoration: none;
    margin: 0;
    gap: 20px;
    margin-left: 25px;
    animation: forwards rightin 2s ease-in-out;
}

@keyframes rightin {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.container a {
    text-decoration: none;
    color:#000000;
}

.container a:hover {
    color: #2E7D32;
    font-weight: bold;
    text-decoration: underline;
    transform: scale(1.2);
}

.secondpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    width: 70vw;
    margin: auto;
}

.about-mediTriage {
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: white;

    opacity: 0;
    transform: translateX(200px);
    transition: 3s;
}

.goal {
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color: white;

    opacity: 0;
    transform: translateX(200px);
    transition: 3s;
}

.how-it-works {
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    background-color: white;

    opacity: 0;
    transform: translateX(200px);
    transition: 3s;
}

.show-box {
    opacity: 1;
    transform: translateY(0);
}
